<div style="width: 500px; float: left;">
  <h3>Report data for last month</h3>
  <table>
    <thead>
        <tr>
            <th></th>
            <th>New</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        <tr>
          <td>Orders</td>
          <td><%= @order_count.between(1.month.ago.at_midnight, Date.today.beginning_of_day) %></td>
          <td><%= @order_count.total %></td>
        </tr>
        <tr>
          <td>Users</td>
          <td><%= @user_count.between(1.month.ago.at_midnight, Date.today.beginning_of_day) %></td>
          <td><%= @user_count.total %></td>
        </tr>
        <tr>
          <td>Curators</td>
          <td><%= @curator_count.between(1.month.ago.at_midnight, Date.today.beginning_of_day) %></td>
          <td><%= @curator_count.total %></td>
        </tr>
        <tr>
          <td>Items</td>
          <td><%= @item_count.between(1.month.ago.at_midnight, Date.today.beginning_of_day) %></td>
          <td><%= @item_count.total %></td>
        </tr>
    </tbody>
  </table>
</div>
