<% body_class "friends-list friends" %>
<%= render "nav" %>
<div class="left">
    <div class="facebook <%= current_user.has_facebook? ? "facebook-on" : "facebook-off" %>">
        <h3>Facebook:</h3>        
        <% if current_user.has_facebook? and current_user.current_on_facebook? %>
          <h5>You have <%= pluralize(@friends.count, "friend") %> using ClosetGroupie!</h5>
        <% elsif current_user.has_facebook? %>
          <h4>Sorry, your Facebook session has expired. Please login again to find your friends.</h4>
          <%= link_to image_tag("login-with-facebook.png", :alt => "Login with Facebook"), auth_at_provider_path(:provider => :facebook) %>
        <% else %>
          <h4>Link with your Facebook account to discover which of your friends are already loving ClosetGroupie!</h4>
        <% end %>
    </div>
</div>

<div class="right">
    <div class="header">
      <h1>These friends use ClosetGroupie</h1>
    </div>
    <div class="contents">
      <table>
      <% @friends.each do |friend| %>
        <tr>
          <td class="avatar">
            <%= link_to closet_path(friend.id) do %>
                <%= image_tag(friend.avatar_url(:thumb), :alt => friend.name,
                    :class => "img-shadow", width: 40, height: 40) %>
            <% end %>
          </td>
          <td class="name">
            <%= link_to friend.name, friend.closet %>
          </td>
          <td class="since">
            <strong>Member since</strong> <%= friend.created_at.strftime('%B %d, %Y') %>
          </td>
          <td class="follow">
            <%= toggle_follow_button_for friend %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
