<% body_class "friends-list friends" %>
<%= render "nav" %>
<div class="left">
    <div class="facebook <%= current_user.has_facebook? ? "facebook-on" : "facebook-off" %>">
        <h3>Facebook:</h3>        
        <% if current_user.has_facebook? and current_user.current_on_facebook? %>
          <h5>You have <%= @friends.count %> friends! This website is SUPER helpful!</h5>
        <% elsif current_user.has_facebook? %>
            <p>Your Facebook connection to ClosetGroupie.com has expired - click the "re-connect" link below to re-authorize Facebook to list your friends.</p>
            <h5><a href="<?php echo $facebook_connect_url; ?>" class="btn btn-reconnect">Re-connect</a></h5>
        <% else %>
            <p>Find your Facebook friends!</p>
            <h5><a href="<?php echo $facebook_connect_url; ?>" class="btn btn-connect">connect</a></h5>
        <% end %>
    </div>
    
</div>

<div class="right">
    <div class="header">
      <h1>Here are your <%= @friends.count %> friends</h1>
    </div>
    <table>
    <% @friends.each do |friend| %>
      <tr>
        <td class="avatar"><%= image_tag(friend['picture'], :alt => friend['name']) %></td>
        <td class="name"><%= friend['name'] %></td>
      </tr>
    <% end %>
    </table>
    <% if false %> 
    <div class="contents clearfix">        
        <table cellspacing="0">
        <?php foreach ($all_friends as $friend): ?>
            <tr>
                <td class="avatar"><a href="<?php echo $this->Html->url(array("controller"=>"closets","action"=>"view",$friend["Closet"]["id"])); ?>" target="_blank"><?php echo $this->Html->image("avatars/".$friend["User"]["avatar_filename"], array("width"=>40,"height"=>40,"class"=>"img-shadow")); ?></a></td>
                <td class="name"><?php echo $this->Html->link($friend["User"]["name"], array("controller"=>"closets","action"=>"view",$friend["Closet"]["id"]), array("target"=>"_blank")); ?></td>
                <td class="since"><strong>Member Since:</strong> <?php echo $this->Time->format("F j, Y", $friend["Closet"]["created"]); ?></td>
                <td class="follow">
                    <div class="btn"><?php echo $this->element("follow_button",array("target_id"=>$friend["User"]["id"])); ?></div>
                </td>
            </tr>
        <?php endforeach; ?>
        </table>
    </div>
    <% end %>
        
</div>
