<% @items_by_segment.each do |segment, items| %>
<div class="segment">
    <h2><%= segment %></h2>
    <ul>
    <% items.each do |item| %>
        <li>
            <%= link_to item_path(item) do %>
                <%= image_tag item.hero_image.image_url(:medium) %>
            <% end %>
            <h4><%= truncate(item.title, :length => 25) %></h4>
            <p>Size: <%= item.size %> <span class="prices"><%= number_to_currency item.price %></span></p>
        </li>
    <% end %>
    </ul>
    <a class="more" href="/<%= segment.downcase %>">View All <%= segment %></a>
</div>
<% end %>
