<% if @category.present? %>
<div class="current-category">
    <h1 class="<%= @segment.slug %>"><%= @segment.name %></h1>
    <h2 class="<%= @segment.slug %>"><%= @category.name %></h2>
</div>
<% end %>
<% if @sizes.present? or @brands.present? %>
<div class="filters">
    <h4>Filter results by:</h4>
    <% if @sizes.present? %>
    <h5>Size</h5>        
    <ul id="sizes">
    <% @sizes.each do |size| %>
        <%# TODO: Rethink this %>
        <li><%= link_to size.name, url_for(:size => size.id) %></li>
    <% end %>
    </ul>
    <% end %>
    
    <% if @brands.present? %>
    <h5>Designer</h5>        
    <ul id="brands">
        <li><%= link_to brand.name, url_for(:brand => brand.id) %></li>
    </ul>
    <% end %>
</div>
<hr />
<% end %>
<h3>Categories</h3>
<ul class="menu" id="categories_nav">
    <%= render :partial => 'shop/segment', collection: @segments %>
</ul>
