<div style="width: 100px; float: left;">
    <img src="<%= @user.avatar_url(:preview) %>" width="80" height="80" border="0" style="padding: 1px; background-color: #fff; border: 1px solid #ccc;" />
</div>
<div style="width: 400px; float: left;">
    <h3>
        <%= link_to @user.name, closet_path(@user), style: "color: #d2af2c;" %>
    </h3>
    <p>Has just posted a new item for sale on ClosetGroupie:</p>    
</div>
<div style="clear: both;">&nbsp;</div>
<div style="width: 100px; float: left;">
    <%= link_to item_path(@item) do %>
        <%= image_tag @item.hero_image(:thumbnail), style: "padding: 1px; background: #fff; border: 1px solid #ccc;" %>
    <% end %>
</div>
<div style="width: 400px; float: left;">
    <h3>
        <%= link_to @item.title, item_path(@item), style: "color: #d2af2c;" %>
    </h3>
    <p>Price: <%= @item.price %></p>
</div>
