<div class="header">
    <h1>Your Settings: Email Address</h1>
</div>
<div class="contents">
    <%= render "shared/dashboard/settings_navigation" %>
    <h3>Current Email</h3>
    <p><%= current_user.email_changed? ? current_user.email_was : current_user.email %></p>
    <%# TODO: Trigger validateForm() on form submission %>
    <%= form_for current_user, :url => settings_email_path do |f| %>
        <%= f.error_messages %>
        <h3>Change Email</h3>
        <%= hidden_field_tag :action_view, params[:action] %>
        <div class="input email">
            <%= current_user.errors.any? ? f.email_field(:email) : f.email_field(:email, value: "") %>
            <p class="hint">New email address</p>
            <%= current_user.errors.any? ? f.email_field(:email_confirmation) : f.email_field(:email_confirmation, value: "")%>
            <p class="hint">Confirm new email</p>
        </div>
        <%= f.submit "Save New Email", :class => "btn", :id => "submit_btn" %>
    <% end %>
</div>
<% content_for :javascripts do %>
<script type="text/javascript">
<!--//
    $(document).ready(function (event) {
        $("ul.email-notification-types input").bind("change", function (event) { 
            var val = 0;
            if ($(this).attr("checked")) val = 1;
            $.get(
                $("#toggle_email_notifications_url").val() + "/" + $(this).attr("id") + "/" + val,
                function (response) {
                    if (response.status == "ERROR") {
                        alert(response.message);    
                    } else {
                        $('label[for="' + response.setting + '"]').toggleClass("active");
                    }
                },
                "json"
            ); 
        });
    });
    
    function validateForm() {
        if ($("#UserEmail").val() != "") {
            if ($("#UserEmail").val() == $("#UserConfirmEmail").val()) {
                $('#UserEmailForm').submit()
            } else {
                alert("Your email addresses do not match - please try again");
                $("#UserEmail").val("");
                $("#UserConfirmEmail").val("");
            }
        }
    }
//-->
</script>
<% end %>
