<div class="header">
    <h1>Your Settings: Password</h1>
</div>
<div class="contents">
    <%= render "shared/dashboard/settings_navigation" %>
    <% if false %>
    <%# TODO: Flash message... %>
    <div class="password-alert">
        <h3>Your password has been updated.</h3>
    </div>
    <% end %>
    <h3>Change Password</h3>
    <%= form_for current_user, :url => settings_password_path do |f| %> 
    <%= f.password_field :current_password %>
    <p class="hint">Your current password</p>
    <%= f.password_field :password %>
    <%# TODO: WTF? Revamp this retarded suggestion %>
    <p class="hint">New password must be between 6 and 20 characters</p>
    <%= f.password_field :confirm_password %>
    <p class="hint">Confirm new password</p>
    <%= f.submit "Save New Password", :class => "btn", :id => "submit_btn" %>
    <% end %>
</div>
<% content_for :javascripts do %>
<%# TODO: Move this to an actual file, or clean it up otherwise.. %>
<script type="text/javascript">
function validateForm() {
    if ($("#UserCurrentPassword").val() == "") {
        alert("You must enter your current password");
    } else {
        if (($("#UserPassword").val().length < 6) || ($("#UserPassword").val().length > 20)) {
            alert("Your password must be between 6 and 20 characters");
            $("#UserPassword").val("");
            $("#UserConfirmPassword").val("");
        } else {
            if ($("#UserPassword").val() == $("#UserConfirmPassword").val()) {
                $('#UserPasswordForm').submit()
            } else {
                alert("Your passwords do not match - please try again");
                $("#UserPassword").val("");
                $("#UserConfirmPassword").val("");
            }   
        }
    }
}
</script>
<% end %>