<% body_class "shopping-cart" %>
<% present @order do |purchase| %>
<div class="header">
    <h1>Purchase Details</h1>
</div>
<div class="contents">
    <div class="main-details">
        <h5>Order #<%= purchase.unique_id %></h5>
        <%# TODO: Include timezone? %>
        <h4>Placed <%= purchase.placed_at %></h4>
    </div>
    <div class="ship-address" style="padding-top: 15px;">
        <h6>Ship to:</h6>
        <p><%= purchase.shipping.recipient %><br />
        <%= purchase.shipping.primary %> <%= purchase.shipping.secondary.presence %><br />
        <%= purchase.shipping.city %>, <%= purchase.shipping.state %> <%= purchase.shipping.zip %><br />
        <%= purchase.shipping.country %></p>
    </div>
    <% purchase.orders.each do |order| %>
    <section class="closet">
        <div class="top clearfix">
            <h3 style="float: left; font-size: 18px;">From <%= link_to order.seller.name, closet_path(order.seller.closet) %></h3>
            <p style="float: right; margin-bottom: 0">
                <%# TODO: Does this need to be individualized link per order? %>
                <%= link_to "Contact Seller", contact_seller_path(order),
                    :class => "btn btn-full btn-contact-seller btn_contact_seller", :id => "contact" %>
            </p>
        </div>
        <div class="inner">
            <table class="items" cellspacing="0">
                <tr>
                    <th class="thumb">Item</th>
                    <th class="description">Description</th>
                    <th class="size">Size</th>
                    <th class="price">Price</th>
                    <th class="shipping">Shipping</th>
                </tr>
                <% order.items.each do |item| %>
                <tr>
                    <td class="thumb">
                        <%# TODO: Use a preview image %>
                        <%= link_to image_tag(item.photos.first.image_url,
                            :class => "img-shadow", width: 70, height: 70) %>
                    </td>
                    <td>
                        <h5><%= item.title %></h5>
                        <p><%= item.shipping_notes.presence %></p>
                    </td>
                    <%# TODO: Ensure this works when sizes are migrated %>
                    <td><%= item.size.presence || "N/A" %></td>
                    <td><%= number_to_currency item.price %> <em>USD</em></td>
                    <td><%= number_to_currency item.shipping_price %> <em>USD</em></td>
                </tr>
                <% end %>
            </table>
        </div>
        <div style="display: none;">
            <div id="send_message_wrapper_<?php echo $suborder["id"]; ?>" class="send_message_wrapper">
                <div class="intro clearfix">
                    <div class="left"><?php echo $this->Html->image("avatars/".$suborder["Seller"]["User"]["avatar_filename"], array("class"=>"img-shadow", "width"=>60, "height"=>60)); ?></div>
                    <div class="right">
                        <h3>Contact <?php echo $suborder["Seller"]["User"]["name"]; ?></h3>
                        <p>Type your message to <?php echo $suborder["Seller"]["User"]["name"]; ?> about this order</p>
                    </div>
                </div>
                <form>
                    <div class="input"><textarea style="height: 100px" id="message_input_<?php echo $suborder["id"]; ?>"></textarea></div>
                    <input type="button" class="btn dark-btn message_btn" value="Send Message" id="message_btn_<?php echo $suborder["id"]; ?>" />
                </form>
                <h4 style="display: none;">Your message has been sent. Watch your "Messages" tab on your dashboard for <?php echo $suborder["Seller"]["User"]["name"]; ?> to respond!</h4>
            </div>
        </div>
    </section>
    <% end %>
    <section class="total">
        <div class="inner">
            <p class="total">Total: <strong><%= number_to_currency purchase.total %></strong> <em>USD</em></p>
        </div>
    </section>
</div>
<% end %>
<% content_for :javascripts do %>
    <%= javascript_include_tag 'contact' %>
<% end %>
