<div class="header">
    <h1>Your Sale Orders</h1>
</div>
<div class="contents">
    <% if @orders.any? %>
    <table cellspacing="0" class="purchase-sale-list">
        <% @orders.each do |order| %>
        <tr>    
            <%# TODO: Headers %>
            <td><%= order.unique_id %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td><%= order.created_at.to_date.to_s(:long) %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td><%= pluralize(order.items.size, "Item") %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td><%= number_to_currency order.total %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td><%= link_to "Details", sale_path(order) %></td>
        </tr>
        <% end %>
    </table>
    <% else %>
    <h3>You haven't sold any items yet!</h3>
    <h3 style="margin-bottom: 15px;">
        <%= link_to "Add New Item", new_item_path, :class => "btn btn-add-new-item" %>
    </h3>
    <% end %>
</div>
