<div class="activity_wrap">
    <div class="action">
        <div class="icon <%= activity.get('classification') %>"></div>
        <!-- if user -->
        <div id="share-<%= activity.id %>" class="share">
            <div id="gpo<%= activity.id %>" class="g-plusone" data-size="medium" data-annotation="none" data-href="<%= activity.full_entity_url() %>"></div>
            <div id="fbl<%= activity.id %>" class="fb-like" data-href="<%= activity.full_entity_url() %>" data-send="false" data-layout="button_count" data-width="80" data-show-faces="false"></div>
            <span>
                <a class="icon share-twitter" href="https://twitter.com/intent/tweet?text=Love+this!&url=<%= activity.escaped_url() %>&via=ClosetGroupie" target="_blank">Share via Twitter</a>
                <a class="icon share-facebook" href="https://www.facebook.com/sharer.php?u=<%= activity.escaped_url() %>" onclick="return fbshare('<%= activity.escaped_url() %>', '');" target="_blank">Share via Facebook</a>
            </span>
        </div>
    </div>
    <hr>
    <div class="content">
        <div class="imagery">
            <a href="<%= activity.get('entity_url') %>">
                <img src="<%= activity.get('hero_image') %>" class="target">
            </a>
        </div>
        <p class="blurb">
            <% if (activity.get('is_purchase')) { %>
            <%= activity.escape('user_name') %>
            <% } else { %>
            <a href="<%= activity.get('user_profile_url') %>">
                <%= activity.escape('user_name') %>
            </a>
            <% } %>
            <%= activity.escape('verb') %>
            <a href="<%= activity.get('entity_url') %>">
                <%= activity.escape('entity_name') %>
            </a>
        </p>
    </div>
    <hr>
    <div class="comment">
        <a href="<%= activity.comments_url() %>" class="comment_add">Add comment</a>
        <a href="<%= activity.comments_url() %>" class="comment_count">0</a>
    </div>
</div>
<div class="activity_top"></div>
