<%= body_class "static team" %>
<%= render :partial => "static/about-navigation" %>
<section id="static">
    <h1>It's nice to meet you...</h1>
    <blockquote>
        “You have brains in your head. You have feet in your <em>shoes</em>. You can steer yourself any direction you choose...” <span class="attribution">&mdash; Dr. Seuss, Oh, the Places You'll Go!</span>
    </blockquote>
    <ul id="people">
        <li>
            <%= image_tag "about/shoes-kelly.jpg" %>
            <h3>Kelly, CEO</h3>
            <p>Size: 6</p>
            <p>Brand: Barneys</p>
            <p>Condition: Still fabulous</p>
            <div class="steered"><p>Steered to my mother's wedding</p></div>
        </li>
        <li>
            <%= image_tag "about/shoes-joonas.jpg" %>
            <h3>Joonas, CTO</h3>
            <p>Size: 11</p>
            <p>Brand: Vibram</p>
            <p>Condition: Broken in</p>
            <div class="steered"><p>Steered to an adventure in the Rocky Mountains</p></div
        </li>
        <li>
            <%= image_tag "about/shoes-doniree.jpg" %>
            <h3>Doniree, CCO</h3>
            <p>Size: 7.5</p>
            <p>Brand: Mia Tracey Boot</p>
            <p>Condition: Gently Worn</p>
            <div class="steered"><p>Steered through multiple airports and cocktail bars</p></div>
        </li>
        <li>
            <%= image_tag "about/shoes-tres.jpg" %>
            <h3>Tres, Developer Extraordinaire</h3>
            <p>Size: 9</p>
            <p>Brand: Vans</p>
            <p>Condition: Well worn</p>
            <div class="steered"><p>Steered to Achill Island, Middle of Nowhere, Ireland</p></div>
        </li>
        <li>
            <%= image_tag "about/shoes-eugene.jpg" %>
            <h3>Eugene, Most Amazing Intern Ever</h3>
            <p>Size: 8</p>
            <p>Brand: Clarks</p>
            <p>Condition: Excellent</p>
            <div class="steered"><p>Steering to Harvard Law School</p></div>
        </li>
    </ul>
</section>
