<%= form_for [:settings, @address] do |f| %>
    <%= f.label :recipient, "Full name of the person to ship to" %>
    <%= f.text_field :recipient %>
    <%= f.label :primary, "Street address" %>
    <%= f.text_field :primary %>
    <%= f.label :secondary, "Apartment, Building, Suite, etc." %>
    <%= f.text_field :secondary %>
    <%= f.label :city %>
    <%= f.text_field :city %>
    <%= f.label :state, "State or Region" %>
    <%= f.text_field :state %>
    <%= f.label :zip, "Zip/Postal Code" %>
    <%= f.text_field :zip %>
    <div class="input">
        <%= f.label :country %>
        <%= f.country_code_select :country, [["United States", "US"], ["Canada", "CA"]] %>
        <%# TODO: Add a dropdown for countries, maybe using country-select? %>
    </div>
    <%= f.submit "Save Address", :class => "btn", :id => "submit_btn" %>
<% end %>
