<% body_class "closet-details closet-reviews" %>
<section id="owner">
    <%= profile_for @closet.user %>
</section>

<section class="main">
    <div id="reviews_wrapper">
        <div class="header">
            <h1><%= @closet.name %> Reviews</h1>
        </div>
        <div class="contents">
            <%# TODO: Check if user has purchased from user %>
            <% if current_user and @closet.can_be_reviewed_by_user?(current_user) %>
                <p>Because you have purchased an item from <%= @closet.user.name %>, you can <%= link_to "write a review", new_closet_review_path(@closet) %><br /><br /></p>
            <% end %>
            <% if @reviews.any? %>
                <% @reviews.each do |review| %>
                <div class="review clearfix">
                    <div class="author clearfix">
                        <div class="avatar">
                            <%= link_to image_tag(review.user.avatar_url(:preview)), profile_path(review.user),
                                :class => "img-shadow" %>
                        </div>
                        <h3>By <%= link_to review.user.name, profile_path(review.user) %></h3>
                        <h4>On <%= review.created_at.to_date.to_s(:long) %></h4>
                    </div>
                    <p><%= review.content %></p>
                </div>
                <% end %>
            <% else %>
                <div class="closet-empty-alert">
                    <h4><%= @closet.user.name %> doesn't have any reviews yet.</h4>
                </div>
            <% end %>
        </div>
    </div>
</section>